html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.canvas-text-section {
  scroll-snap-align: start;
}

.hide-scrollbar {
  overflow: scroll;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome/Safari */
}