/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap'); */

.name-banner {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  font-family:  sans-serif;
  font-size: 60px;
  color: #000000;
  height: 100px;
  background-color: aqua;
  /* text-shadow: 0 0 20px #00ffff, 0 0 40px #0ff; */
  z-index: 10;
  opacity: 1;
}

.animate-name {
  animation: slideDown 1.5s ease-out forwards;
}

@keyframes slideDown {
  0% {
    top: -100px;
    opacity: 1;
  }
  100% {
    top: 40px;
    opacity: 1;
  }
}