/* Enable smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}

.navbar-left {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000000;
}

.navbar-right {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-right li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-right li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navbar-right li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-right li a:hover {
  color: #00bfff;
}
