/* Enable smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 10;
} */

.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar-right li a {
  text-decoration: none;
  font-size: 1rem;
}

/* Hamburger for mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  transition: transform 0.3s;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: white;
  transition: all 0.3s ease;
}

.hamburger.open:hover {
  transform: rotate(90deg);
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open div:nth-child(2) {
  opacity: 0;
}
.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile menu overlay */
.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 30px;
  background: black;
  width: 100%;
  max-width: 200px;
  padding: 1rem;
  text-align: center;
  gap: 1rem;
  border-radius: 20px;
}

.mobile-menu a {
  font-size: 1.2rem;
  text-decoration: none;
}

.mobile-menu.show {
  display: flex;
}

/* Responsive */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}